## Simulation of Inventory transaction

### Introduction
A store has an inventory of products which has a variety of Categories and Sub-categories.
The store has sales details for each of the product sub-categories. The sum total of sales of the sub-categories indicates the total sales of a category.

Create a small application that will simulate the above inventory transactions.

### Assign random prices
	For every subcategory, create random sale prices such that their total equals to the Total_Sales value of its corresponding category.
e.g: The initial total_sales value for Furniture is 58578.25.  The sale prices of its  
        subcategories viz. chairs, tables, wardrobe, beds, couch, storage should add up to 
        58578.25
	Repeat it for all the other sub-categories
	DO NOT HARDCODE the sale prices
	DO NOT take equal weightage for prices

### Simulate transactions (sale of a sub-category product) 
	A new product is sold. Update the subcategory and category sales details accordingly
	Display the updated prices

### To print the total sales of a given product category

### To print the total sales of a given product sub-category

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
class number:
    
    def __init__(self,number,number_of_subsections,min_random_number_desired):
        self.number = number
        self.number_of_subsections =number_of_subsections
        self.min_random_number_desired = min_random_number_desired
    #def accept(self,number, number_of_subsections, min_random_number_desired):
   
 
        #ob = number(number, number_of_subsections, min_random_number_desired)
        #ls.append(ob)
    

    def split_given_number_into_n_random_numbers(self):
        a=[]
        cumulative_sum_of_random_numbers = 0
        current_subsection = 1
        max_random_number = int(self.number/self.number_of_subsections)
        if self.min_random_number_desired > max_random_number:
            print("ERROR: Cannot have min number as {} and split {} in {} subsections".format(self.min_random_number_desired,
                                                                                              self.number, self.number_of_subsections))
            return False

        while (True):
            random_number = random.randint(self.min_random_number_desired, max_random_number)
            a.append(random_number)
            cumulative_sum_of_random_numbers += random_number
            #print("Cumulative sum {}".format(sum_of_num))
            self.number -= random_number
            current_subsection += 1
            if current_subsection == self.number_of_subsections:
                random_number = self.number
                a.append(random_number)
                cumulative_sum_of_random_numbers += random_number
                break
        #print(a)

        #print("Final cumulative sum of random numbers = {}".format(cumulative_sum_of_random_numbers))
        return a



#obj = number(58,5,0)
#obj.accept(58,7,0)
number(58,5,0).split_given_number_into_n_random_numbers()

[4, 6, 9, 11, 28]

In [3]:
## GIVEN TABLE of CATEGORIES with TOTAL SALES
M=pd.DataFrame()
M['Category']=['Furniture','Sports','Food']
M['Total_Sales']=[58578.25,39743.95,73104.65]
M

    Category  Total_Sales
0  Furniture     58578.25
1     Sports     39743.95
2       Food     73104.65

In [ ]:
### SUBCATEGORIES NAME GIVEN,TOTAL SALES ARRANGED BY OOPS

In [4]:
F=pd.DataFrame()
F['Category']=random.choices(['Furniture'],k=7)
F['Sub_Category']=['chairs', 'tables', 'wardrobe', 'beds', 'couch', 'antique', 'storage']
F['Total_Sales']=number(M['Total_Sales'][0],len(F['Sub_Category']),0).split_given_number_into_n_random_numbers()
F

    Category Sub_Category  Total_Sales
0  Furniture       chairs      3645.00
1  Furniture       tables      2196.00
2  Furniture     wardrobe      1516.00
3  Furniture         beds      3857.00
4  Furniture        couch      3765.00
5  Furniture      antique      5112.00
6  Furniture      storage     38487.25

In [5]:
F['Total_Sales'].sum()

58578.25

In [6]:
Sp=pd.DataFrame()
Sp['Category']=random.choices(['Sports'],k=5)
Sp['Sub_Category']=['shoes', 'bags', 'backpack', 'bottles', 'towels']
Sp['Total_Sales']=number(M['Total_Sales'][1],len(Sp['Sub_Category']),0).split_given_number_into_n_random_numbers()
Sp

  Category Sub_Category  Total_Sales
0   Sports        shoes      2245.00
1   Sports         bags      7710.00
2   Sports     backpack      6908.00
3   Sports      bottles      6652.00
4   Sports       towels     16228.95

In [7]:
Sp['Total_Sales'].sum()

39743.95

In [8]:
Fo=pd.DataFrame()
Fo['Category']=random.choices(['Food'],k=8)
Fo['Sub_Category']=['chips', 'bread', 'chocolate', 'biscuits', 'rice', 'wheat', 'sugar', 'flour']
Fo['Total_Sales']=number(M['Total_Sales'][2],len(Fo['Sub_Category']),0).split_given_number_into_n_random_numbers()
Fo

  Category Sub_Category  Total_Sales
0     Food        chips      6424.00
1     Food        bread      1891.00
2     Food    chocolate      7288.00
3     Food     biscuits      6642.00
4     Food         rice      1687.00
5     Food        wheat      7915.00
6     Food        sugar      2003.00
7     Food        flour     39254.65

In [9]:
Fo['Total_Sales'].sum()

73104.65

In [10]:
Inventory=pd.concat([F,Sp,Fo],axis=0,ignore_index=True)
Inventory

     Category Sub_Category  Total_Sales
0   Furniture       chairs      3645.00
1   Furniture       tables      2196.00
2   Furniture     wardrobe      1516.00
3   Furniture         beds      3857.00
4   Furniture        couch      3765.00
5   Furniture      antique      5112.00
6   Furniture      storage     38487.25
7      Sports        shoes      2245.00
8      Sports         bags      7710.00
9      Sports     backpack      6908.00
10     Sports      bottles      6652.00
11     Sports       towels     16228.95
12       Food        chips      6424.00
13       Food        bread      1891.00
14       Food    chocolate      7288.00
15       Food     biscuits      6642.00
16       Food         rice      1687.00
17       Food        wheat      7915.00
18       Food        sugar      2003.00
19       Food        flour     39254.65

In [11]:
a=[]



for e in range(0,7):
    a.append(number(F['Total_Sales'][e],2,0).split_given_number_into_n_random_numbers())

a1 = []
for sublist in a:
    
    for food in sublist:
        
        a1.append(food)

print(a1)

[201, 3444.0, 373, 1823.0, 514, 1002.0, 1510, 2347.0, 464, 3301.0, 488, 4624.0, 5848, 32639.25]

In [12]:
b=[]
for e in range(0,5):
    b.append(number(Sp['Total_Sales'][e],2,0).split_given_number_into_n_random_numbers())
b1 = []
for sublist in b:
    
    for food in sublist:
        
        b1.append(food)

print(b1)

[703, 1542.0, 2887, 4823.0, 3193, 3715.0, 1232, 5420.0, 3875, 12353.949999999997]

In [13]:
c=[]
for e in range(0,8):
    c.append(number(Fo['Total_Sales'][e],2,0).split_given_number_into_n_random_numbers())
c1 = []
for sublist in c:
    
    
    for food in sublist:
        
        
        c1.append(food)

print(c1)

[2612, 3812.0, 466, 1425.0, 1778, 5510.0, 1965, 4677.0, 445, 1242.0, 1, 7914.0, 336, 1667.0, 19234, 20020.649999999994]

In [14]:
s=[a1,b1,c1]
s1=[]
for sublist in s:
    
    for food in sublist:
        
        s1.append(food)

print(s1)

[201, 3444.0, 373, 1823.0, 514, 1002.0, 1510, 2347.0, 464, 3301.0, 488, 4624.0, 5848, 32639.25, 703, 1542.0, 2887, 4823.0, 3193, 3715.0, 1232, 5420.0, 3875, 12353.949999999997, 2612, 3812.0, 466, 1425.0, 1778, 5510.0, 1965, 4677.0, 445, 1242.0, 1, 7914.0, 336, 1667.0, 19234, 20020.649999999994]

In [15]:
Product_Inventory = pd.DataFrame({'Category':['Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Furniture','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Food','Food','Food','Food','Food','Food','Food','Food','Food','Food','Food','Food','Food','Food','Food','Food'], 
                                  'Sub_Category':['chairs','chairs','tables','tables','wardrobe','wardrobe','beds','beds','couch','couch','antique','antique','storage','storage','shoes','shoes','bags','bags','backpack','backpack','bottles','bottles','towels','towels','chips','chips','bread','bread','chocolate','chocolate','biscuits','biscuits','rice','rice','wheat','wheat','sugar','sugar','flour','flour'],
                                  'Products':['plasticchairs','woodenchairs','woodentables','metallicmarbletables','woodenwardrobe','metallicwardrobe','woodenbeds','antiquebeds','rolledarm','pillowback','antiqueclocks','antiquefinearts','flash','cloud','athletic','formal','briefcase','Trekking','slingbag','functional','stainlesssteel','Aluminium','kitchen','gym','digital','analogue','white','brown','fivestar','dairymilk','goodday','treat','basmati','brownrice','khapliwheat','sharbatiwheat','whitesugar','brownsugar','corn','cake'],
                                  'Total_Sales':s1})

In [16]:
Product_Inventory.head()

    Category Sub_Category              Products  Total_Sales
0  Furniture       chairs         plasticchairs        201.0
1  Furniture       chairs          woodenchairs       3444.0
2  Furniture       tables          woodentables        373.0
3  Furniture       tables  metallicmarbletables       1823.0
4  Furniture     wardrobe        woodenwardrobe        514.0

In [26]:
class IMSys:
    
 

    
    def __init__(self, M,F,Sp,Fo,Inventory,Product_Inventory):
        self.M = M
        self.F = F
        self.Sp = Sp
        self.Fo = Fo
        self.Inventory = Inventory
        self.Product_Inventory = Product_Inventory
        
 
   
    def accept(self,M,F,Sp,Fo,Inventory,Product_Inventory):
   
 
        ob = IMSys(M,F,Sp,Fo,Inventory,Product_Inventory)
        ls.append(ob)
        
    def Category(self, ob):
        print(ob.M)
        print("\n")  
    def FurCategory(self, ob):
        print(ob.F)
        print("\n")  
    def SpoCategory(self, ob):
        print(ob.Sp)
        print("\n")  
    def FooCategory(self, ob):
        print(ob.Fo)
        print("\n")  
    def InvCategory(self, ob):
        print(ob.Inventory)
        print("\n")  
    
    def ProInv(self, ob):
        print(ob.Product_Inventory)
        print("\n")  
    
    def search(self, rn):
        rn2=rn.lower()
        print(Inventory[Inventory['Sub_Category']==str(rn2)])
    def search1(self, rn1):
        rn12=rn1[0].upper()+rn1[1:]
        print(M[M['Category']==str(rn12)])
    def search2(self, rn3):
        rn13=rn3.lower()
        print(Product_Inventory[Product_Inventory['Products']== rn13])

    def sold(self, rn):
        #i = obj.search(rn)
        rn=rn.lower()
        h= print(Product_Inventory[Product_Inventory['Products']== rn])
        del h
        print("Item Sold")
        print("Updated List of Product Inventory")
        o=list(Product_Inventory['Products'])
        if str(rn) in o :
            
            data_with_index = Product_Inventory.set_index("Products")
            data_with_index = data_with_index.drop(rn)
            print(data_with_index)
        else:
            print('Wrong Entry')
    
    def update(self, s):
        o=list(Product_Inventory['Products'])
        g=M.copy()
        h=Inventory.copy()
        a=[]
        t=[0]
        p=0
        if s in t :
            print("Thanks for Visiting")

        for i in range(s):
            i=input("Enter the product name please: ")
            if i in o:
                a.append(i)
            
            


        for x in a:

            k=Product_Inventory[Product_Inventory['Products']== str(x)]
            b=[]
            b.append(k['Category'])
            c=list(b[0])[0]
            d=[]
            d.append(k['Total_Sales'])
            e=list(d[0])[0]
            g.loc[g['Category']==str(c),'Total_Sales']= (g['Total_Sales']+e)
            #print(g)
            
            u=[]
            u.append(k['Sub_Category'])
            w=list(u[0])[0]
            z=[]
            z.append(k['Total_Sales'])
            y=list(z[0])[0]
            h.loc[h['Sub_Category']==str(w),'Total_Sales']= (h['Total_Sales']+y)
            #print(h)
            p=p+1
            if p==s:
                print(g)
                print(h)
            else:
                continue
        
    def update1(self, s):
        
        o=list(Inventory['Sub_Category'])
        g=M.copy()
        h=Inventory.copy()
        a=[]
        t=[0]
        p=0
        if s in t :
            print("Thanks for Visiting")

        for i in range(s):
            i=input("Enter the product name please: ")
            if i in o:
                a.append(i)
            
            


        for x in a:

            k=Inventory[Inventory['Sub_Category']== str(x)]
            b=[]
            b.append(k['Category'])
            c=list(b[0])[0]
            d=[]
            d.append(k['Total_Sales'])
            e=list(d[0])[0]
            g.loc[g['Category']==str(c),'Total_Sales']= (g['Total_Sales']+e)
            #print(g)
            
            u=[]
            u.append(k['Sub_Category'])
            w=list(u[0])[0]
            z=[]
            z.append(k['Total_Sales'])
            y=list(z[0])[0]
            h.loc[h['Sub_Category']==str(w),'Total_Sales']= (h['Total_Sales']+y)
            #print(h)
            p=p+1
            if p==s:
                print(g)
                print(h)
            else:
                continue
    
    def update2(self, s):
        
        o=list(Product_Inventory['Products'])
        g=M.copy()
        h=Inventory.copy()
        a=[]
        t=[0]
        v=[]
        p=0
        if s in t :
            print("Thanks for Visiting")

        for i in range(s):
            i=input("Enter the product name please: ")
            if i in o:
                a.append(i)
        for j in range(s):
            
            j=int(input("Enter the price: "))
            v.append(j)




        for x in a:

            k=Product_Inventory[Product_Inventory['Products']== str(x)]
            b=[]
            b.append(k['Category'])
            c=list(b[0])[0]
            
            e=v[0]
            g.loc[g['Category']==str(c),'Total_Sales']= (g['Total_Sales']+e)
            #print(g)
            
            u=[]
            u.append(k['Sub_Category'])
            w=list(u[0])[0]
            
            h.loc[h['Sub_Category']==str(w),'Total_Sales']= (h['Total_Sales']+e)
            #print(h)
            p=p+1
            if p==s:
                print(g)
                print(h)
            else:
                continue
            
    def update3(self, s):
        
        o=list(Product_Inventory['Sub_Category'])
        g=M.copy()
        h=Inventory.copy()
        a=[]
        v=[]
        t=[0]
        p=0
        if s in t :
            print("Thanks for Visiting")

        for i in range(s):
            i=input("Enter the product name please: ")
            if i in o:
                a.append(i)
        for j in range(s):
            j=int(input("Enter the price: "))
            v.append(j)

        for x in a:

            k=Product_Inventory[Product_Inventory['Sub_Category']== str(x)]
            b=[]
            b.append(k['Category'])
            c=list(b[0])[0]
            
            e=v[0]
            g.loc[g['Category']==str(c),'Total_Sales']= (g['Total_Sales']+e)
            #print(g)
            
            u=[]
            u.append(k['Sub_Category'])
            w=list(u[0])[0]
            
            h.loc[h['Sub_Category']==str(w),'Total_Sales']= (h['Total_Sales']+e)
            #print(h)
            p=p+1
            if p==s:
                print(g)
                print(h)
            else:
                continue
                
    #def update1(self, s):
        
        #g=Inventory.copy()
        #a=[]
        #t=[0]
        #if s in t :
            
            #print("Thanks for Visiting")

        #for i in range(s):
            #i=input("Enter the product name please: ")
            #if i in o:
                #a.append(i)
            #else:
                
                #print("Wrong Entry")


        #for x in a:

            #k=Product_Inventory[Product_Inventory['Products']== str(x)]
            #b=[]
            #b.append(k['Sub_Category'])
            #c=list(b[0])[0]
            #d=[]
            #d.append(k['Total_Sales'])
            #e=list(d[0])[0]
            #g.loc[g['Sub_Category']==str(c),'Total_Sales']= (g['Total_Sales']+e)
            #print(g)
            #break
        

print("************************************** Welcome to Inventory Management System **********************************************************")
print()
print("1) Display All Categories with there Total sales")
print("2) Display Furniture with Sub-Category with its sales")
print("3) Display Sport with Sub-Category with its sales")
print("4) Display Food with Sub-Category with its sales")
print("5) Display Inventory Details")
print("6) Display Product Inventory Details")
print("7) Search Specific Sub_category Details")
print("8) Search Specific Category Details")
print("9) Search Specific Product Details")
print("10) Product Sold and List")
print("11) Product Sold(given sales) and Updated Category and Updated Sub-Category Sales")
print("12) Sub_Category Sold(given sales) and Updated Category and Updated Sub-Category Sales")
print("13) Product Sold and Updated Category and Updated Sub-Category Sales")
print("14) Sub_Category and Updated Category and Updated Sub-Category Sales")
print("15) Quit")
print("Enter Your Choice :- ")
ls = []
obj = IMSys(M,F,Sp,Fo,Inventory,Product_Inventory)
obj.accept(M,F,Sp,Fo,Inventory,Product_Inventory)
o=list(Product_Inventory['Products'])
for ch in range(20):
    ch = int(input("Enter choice: "))



    

    if ch == 1:
        print("\n")
        print("\n Categories Details \n")
        for i in range(ls.__len__()):
            obj.Category(ls[i])

    elif ch == 2:
        print("\n")
        print("\n Furniture Category Details \n")
        for i in range(ls.__len__()):
            obj.FurCategory(ls[i])

    elif ch == 3:
        print("\n")
        print("\n Sport Category Details \n")
        for i in range(ls.__len__()):
            obj.SpoCategory(ls[i])
    elif ch == 4:
        print("\n")
        print("\n Food Category Details \n")
        for i in range(ls.__len__()):
            obj.FooCategory(ls[i])
    elif ch == 5:
        print("\n")
        print("\n Full Inventory \n")
        for i in range(ls.__len__()):
            obj.InvCategory(ls[i])
    elif ch == 6:
        print("\n")
        print("\n Product Inventory \n")
        for i in range(ls.__len__()):
            obj.ProInv(ls[i])

    elif ch == 7:
        print("\n Inventory Sub_Category Found, ")
        s = obj.search(input())
        #obj.display(ls[s])
    elif ch == 8:
        print("\n Inventory Category Found, ")
        s = obj.search1(input())
        #obj.display(ls[s])
    elif ch == 9:
        print("\n Product Inventory Found, ")
        s = obj.search2(input())
        #obj.display(ls[s])

    elif ch == 10:

        obj.sold(input("Enter the Product Name: "))
        
    elif ch == 11:

        obj.update(int(input("How Many Products to Buy:")))
    
    elif ch == 12:

        obj.update1(int(input("How Many Products to Buy:")))
    elif ch == 13:

        obj.update2(int(input("How Many Products to Buy:")))
    elif ch == 14:

        obj.update3(int(input("How Many Products to Buy:")))
        
    elif ch==15:
        print("Thanks For Visiting")
        break

    



    else:
        print("Wrong Entry")

************************************** Welcome to Inventory Management System **********************************************************

1) Display All Categories with there Total sales
2) Display Furniture with Sub-Category with its sales
3) Display Sport with Sub-Category with its sales
4) Display Food with Sub-Category with its sales
5) Display Inventory Details
6) Display Product Inventory Details
7) Search Specific Sub_category Details
8) Search Specific Category Details
9) Search Specific Product Details
10) Product Sold and List
11) Product Sold(given sales) and Updated Category and Updated Sub-Category Sales
12) Sub_Category Sold(given sales) and Updated Category and Updated Sub-Category Sales
13) Product Sold and Updated Category and Updated Sub-Category Sales
14) Sub_Category and Updated Category and Updated Sub-Category Sales
15) Quit
Enter Your Choice :-
Enter choice: 5



 Full Inventory

     Category Sub_Category  Total_Sales
0   Furniture       chairs      3645.00
1   Furniture       tables      2196.00
2   Furniture     wardrobe      1516.00
3   Furniture         beds      3857.00
4   Furniture        couch      3765.00
5   Furniture      antique      5112.00
6   Furniture      storage     38487.25
7      Sports        shoes      2245.00
8      Sports         bags      7710.00
9      Sports     backpack      6908.00
10     Sports      bottles      6652.00
11     Sports       towels     16228.95
12       Food        chips      6424.00
13       Food        bread      1891.00
14       Food    chocolate      7288.00
15       Food     biscuits      6642.00
16       Food         rice      1687.00
17       Food        wheat      7915.00
18       Food        sugar      2003.00
19       Food        flour     39254.65


Enter choice: 14
How Many Products to Buy:2
Enter the product name please: chairs
Enter the product name please: biscuits
Enter the price: 1000
Enter the price: 1000
    Category  Total_Sales
0  Furniture     59578.25
1     Sports     39743.95
2       Food     74104.65
     Category Sub_Category  Total_Sales
0   Furniture       chairs      4645.00
1   Furniture       tables      2196.00
2   Furniture     wardrobe      1516.00
3   Furniture         beds      3857.00
4   Furniture        couch      3765.00
5   Furniture      antique      5112.00
6   Furniture      storage     38487.25
7      Sports        shoes      2245.00
8      Sports         bags      7710.00
9      Sports     backpack      6908.00
10     Sports      bottles      6652.00
11     Sports       towels     16228.95
12       Food        chips      6424.00
13       Food        bread      1891.00
14       Food    chocolate      7288.00
15       Food     biscuits      7642.00
16       Food         rice      1687.00
17       Food        wheat      7915.00
18       Food        sugar      2003.00
19       Food        flour     39254.65
Enter choice: 7

 Inventory Sub_Category Found,
chairs
    Category Sub_Category  Total_Sales
0  Furniture       chairs       3645.0
Enter choice: 7

 Inventory Sub_Category Found,
biscuits
   Category Sub_Category  Total_Sales
15     Food     biscuits       6642.0
Enter choice: 15
Thanks For Visiting